<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Empresas</title>
<link rel="icon" href="/imagens/icone.png" />
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
	integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
	crossorigin="anonymous"></script>
</head>
<body class="imgfundo">
	
	<nav class="nav justify-content-end">
	  <a class="nav-link" th:href="@{/empresa/listar}"><strong>HOME</strong></a>
	  <a class="nav-link" th:href="@{/empresa/listar}"><strong>FORMAÇÃO</strong></a>
	  <a class="nav-link" th:href="@{/curso/listar}"><strong>CURSOS</strong></a>
	  <a class="nav-link" th:href="@{/linguagem/listar}"><strong>LINGUAGENS / FRAMEWORKS</strong></a>
	  <a class="nav-link" th:href="@{/empresa/listar}"><strong>EXPERIÊNCIAS	- PROFISSIONAIS</strong></a>
	</nav>

	<div class="card imgfundo"
		style="padding: 20px; background-color: #F8F8FF">
		<div class="card-header" style="background-color: white">
			<strong></strong>
			<h1 style='text-align: center'>LISTA DE EMPRESAS</h1>
		</div>

		<div class="card-body">
			<a class="btn btn-sm btn-success" th:href="@{adicionar}">Cadastrar</a>
			<div class="table-responsive">
				<table style="background-color: white"
					class="table table-sm table-striped table-hove table-bordered">
					<thead>
						<tr>
							<th style='text-align: center'><strong>ID</strong></th>
							<th style='text-align: center'>RAZÃO SOCIAL</th>
							<th style='text-align: center'>NOME FANTASIA</th>
							<th style='text-align: center'>SEGMENTO</th>
							<th style='text-align: center'>ESTADO</th>
							<th style='text-align: center'>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="empresa : ${listaEmpresa}">
							<td style='text-align: center' th:text="${empresa.id}">ID</td>

							<td th:text="${empresa.nome}">RAZÃO SOCIAL</td>
							<td th:text="${empresa.nomeFantasia}">NOME FANTASIA</td>
							<td th:text="${empresa.segmento}">SEGMENTO</td>
							<td style='text-align: center' th:text="${empresa.estado}">ESTADO</td>
							<td style='text-align: center'><a class="btn btn-sm btn-info"
								th:href="@{/empresa/editar/{id} (id=${empresa.id})}">Editar</a> <a
								class="btn btn-sm btn-danger"
								th:href="@{/empresa/delete/{id} (id=${empresa.id})}"
								th:data-confirm-delete="|Deseja realmente excluir ${empresa.nomeFantasia}|"
								onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">Apagar</a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
		<div class="card-footer">
			<div style='text-align: center' color="blue">
				<h5>&copy Todos os Direitos Reservados | Premium Technology</h5>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
	
</body>
</html>