<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title id="servicos">Rodrigo Pacheco Fernandes</title>
    <link rel="icon" href="imagens/icone.png">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="estilo.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="imgfundo">

    <nav class="navbar navbar-fixed-top navbar-inverse navbar-transparente">
        <div class="container">
          
          <!-- header -->
          <div class="navbar-header">

            <!-- botao toggle -->
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#barra-navegacao">
                    <span class="sr-only">alternar navegação</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a href="index.html" class= "navbar-brand">
              <span class="img-logo"></span>
            </a>
            
          </div>

          <!-- navbar -->
          <div class="collapse navbar-collapse" id="barra-navegacao">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="index.html">Home</a></li>
              <li><a href="qualificacoes.html">Qualificação</a></li>
              <li><a href="linguagens.html">Linguagens</a></li>
              <li class="divisor" role="separator"></li>
              <li><a href="projetos.html">Projetos</a></li>
              
            </ul>
          </div>

        </div><!-- /container -->
    </nav><!-- /nav -->

    <div class="capa">
      <div class="texto-capa">
        <!-- <div class="imagem-perfil"><img src="imagens/eu.jpg"></div> -->
        <h3>Rodrigo Pacheco Fernandes</h3>
        <h4>Desenvolvedor Freelancer</h4>
            
      </div>
      
    </div>
    
    <section id="recursos">
      <div class="container">
        <div class="row">

        <div class="col-md-12">
            <h2 class="texto-titulo-secao">Histórico</h2>

        </div>
        
      </div>
      </div>
    </section>

   <section id="servicos">
      <div class="container">
        <div class="row">

        <div class="col-md-6">
            
            <h3 class="item-qualificacoes">Autônomo</h3>
            <p>* Cargo: Desenvolvedor Independente.</p>
            <p>* Unidades Currículares: Programação de Aplicativos, Qualidade de Software, Banco de Dados.</p>

            <h3 class="item-qualificacoes">Senai - PR</h3>
            <p>* Cargo: Professor de Curso Técnico.</p>
            <p>* Unidades Currículares: Programação de Aplicativos, Qualidade de Software, Banco de Dados.</p>

            </div><!-- /row -->

          <div class="col-md-6">
    
            <h3 class="item-qualificacoes">AJ Informática (WalMart)</h3>
            <p>* Cargo: Técnico de Informática</p>
            <p>* Funções: Assistência técnica a toda rede de lojas do Grupo WalMart Brasil, Configuração de Switchs, Redes, Computadores, Impressoras, PDVs, entre outros.</p>

            <h3 class="item-qualificacoes">Claro S.A.</h3>
            <p>* Cargo: Gerente de Contas PME / Gerente Banda Larga / Grandes Contas GE</p>
            <p>* Funções: Criação de treinamentos, Treinamento de novas Tecnologias, Administração de Carteira, Prospecção de novas contas.</p>
            
            </div><!-- /row -->

          </div>

        </div>
        
      </div>
    </section>

            <section id="recursos">
            <div class="container">
            <div class="row">

            <div class="col-md-6">

            <h2 class="texto-titulo-secao">Autônomo</h2>
            <p class="texto-branco-texto-normal">Contratação de serviços por encomendas</p>

            <h2 class="texto-titulo-secao">Senai</h2>
            <p class="texto-branco-texto-normal">Serviço Nacional de Aprendizagem Industrial, o Senai oferece a seus alunos cursos técnico voltados para diversas áreas profissionais.</p>
          
        </div>

            <div class="col-md-6">

            <h2 class="texto-titulo-secao">AJ Informática</h2>
            <p class="texto-branco-texto-normal">A AJ Informática é uma empresa que presta serviços em manutenção de equipamentos eletroeletrônicos. Desde 2002 atua no mercado.</p>

            <h2 class="texto-titulo-secao">Claro S.A.</h2>
            <p class="texto-branco-texto-normal">Uma empresa do grupo América Móvel já é uma das maiores operadoras móvel do país e do mundo.</p>           
          
        </div>         
          
        </div>

        
        
      </div>
      </div>
    </section>

    <footer id="rodape">
      <div class="container">
        <div class="row">
          
          <div class="col-md-2">
            <span class="img-logo"></span>
          </div>

          <div class="col-md-1">
            <h4></h4>
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              
            </ul>
          </div>

          <div class="col-md-1">
            <h4></h4>
            <ul class="nav">
              <li><a href="#">Qualificação</a></li>
              
            </ul>
          </div>

          <div class="col-md-1">
            <h4></h4>
            <ul class="nav">
              <li><a href="linguagens.html">Linguagens</a></li>
                
            </ul>
          </div>

          <div class="col-md-1">
            <h4></h4>
            <ul class="nav">
              <li><a href="#">Profissional</a></li>
          
            </ul>
          </div>

          <div class="col-md-1">
            <h4></h4>
            <ul class="nav">
              <li><a href="#">Projetos</a></li>
                
            </ul>
          </div>

          <div class="col-md-12">
            <ul class="nav">
              <li class="item-rede-social"><a href=""><img src="imagens/facebook.png"></img></a></li>
              <li class="item-rede-social"><a href=""><img src="imagens/twitter.png"></img></a></li>
              <li class="item-rede-social"><a href=""><img src="imagens/instagram.png"></img></a></li>
              
            </ul>
          </div>

        </div>
        
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>